header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  width: 100%;
  text-align: left;

  position: fixed;
  top: 0;
  background-color: white;
  padding: 20px 40px;
}

h1 {
  color: black;
  text-align: left;
  font-size: 30px;
  margin: 0;
  font-family: 'Helvetica Neue', Arial, 'Segoe UI', sans-serif;
}

nav ul {
  list-style: none;
  display: flex;
  text-align: center; 
  gap: 70px;
}

body {
  gap: 20px;

  font-family: Georgia, Cambria, 'Times New Roman', serif; font-style: italic;
  /*font-weight: 300;
  color: rgb(192, 131, 93);

  margin: 0;
  padding-top: 100px;*/
  background-color: rgb(200, 227, 233);
}